<table id="example1" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>No</th>
        <th>NIK</th>
        <th>Nama Pasien</th>
        <th>No HP</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i<pasien.length; i++){ %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= pasien[i].nik %></td>
            <td><%= pasien[i].nama %></td>
            <td><%= pasien[i].no_hp %></td>
            <td>
                <a href="/rekammedis/<%= pasien[i]._id %>" class="btn btn-primary btn-sm mr-1">
                    <i class="fas fa-eye mr-1"></i> Rekam Medis
                </a>
                <a href="/pasien/edit/<%= pasien[i]._id %>" class="btn btn-info btn-sm">
                    <i class="fas fa-pen mr-1"></i> Edit
                </a>
            </td>
        </tr>
    <% } %>
    </tbody>
  </table>